<?xml version="1.0" encoding="utf-8" ?><!--指定版本和编码格式-->
<!--MyBatis mapper.xml 映射文件约束信息-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--以下写具体映射信息-->
<mapper namespace="com.test.login.mapper.UserMapper"><!--mapper文件全路径，不要加文件后缀名-->
    <!--  根据接口里面的抽象方法编写SQL语句  -->
    <select id="login" resultType="String"><!--取别名Air = com.test.springboottest.mapper.AirMapper,免去写全路径-->
        select `name` from users where `account` = #{param1} and password = #{param2}
    </select>
    <insert id="register">
        insert into `users` (`account`, `name`, `password`) values (#{param1}, #{param2}, #{param3})
    </insert>
</mapper>